<script lang="ts">
  import '../global.scss';
  import { initClient } from '@urql/svelte';
  import Localizer from '$components/utils/Localizer.svelte';
  import RequireLogin from '$components/utils/RequireLogin.svelte';
  import { isExposed } from '$lib/stores';
  import { page } from '$app/stores';
  import Curtain from '$components/utils/Curtain.svelte';

  let url = import.meta.env.VITE_API_URL;
  initClient({
    url: `${url}`,
    fetchOptions: {
      credentials: 'include',
      mode: 'cors',
    },
  });
</script>

<Localizer />
<main>
  <Curtain>
    {#if isExposed($page.url.pathname)}
      <slot />
    {:else}
      <RequireLogin>
        <slot />
      </RequireLogin>
    {/if}
  </Curtain>
</main>

<style lang="scss">
  main {
    min-height: 100vh;
    width: 100%;
  }
</style>
