<script lang="ts">
  import { _ } from 'svelte-i18n';
</script>

<div>
  <h1>{$_('home.page_title')}</h1>
  <p>
    {@html $_('home.page_description', {
      svelteUrl: 'https://kit.svelte.dev',
    })}
  </p>
</div>

<style lang="scss">
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
</style>
