<script lang="ts">
  import { login as loginQuery } from '$lib/queries';
  import { mutation, OperationStore } from '@urql/svelte';
  import { addBacklink, gotoBacklink, hasBacklink } from '$lib/stores';
  import RequestPromise from '$components/utils/RequestPromise.svelte';
  import { defaultHandlers } from '$lib/graphql';
  import GraphQLError from '$components/utils/GraphQLError.svelte';
  import { _ } from 'svelte-i18n';

  let username = '';
  let password = '';
  let promise: Promise<OperationStore> | null = null;
  let willRedirect = false;

  const handlers = defaultHandlers({
    filter: (error) => error.extensions.category === 'Unauthorized',
    handle: () => true,
    component: GraphQLError,
  });

  const loginMutation = mutation({
    query: loginQuery,
  });

  const login = () =>
    loginMutation({ username, password }).then((data) => {
      username = '';
      password = '';
      willRedirect = hasBacklink();
      if (!willRedirect) {
        addBacklink('/');
        willRedirect = true;
      }
      if (!data.error && willRedirect) {
        setInterval(gotoBacklink, 3000);
      }
      return data;
    });
</script>

<div class="login">
  <h3>{$_('login.title')}</h3>
  <input type="text" bind:value={username} placeholder={$_('login.username')} />
  <input type="password" bind:value={password} placeholder={$_('login.password')} />
  {#if promise !== null}
    <RequestPromise {promise} {handlers}>Logged in</RequestPromise>
  {/if}
  <br />
  <span on:click={() => (promise = login())}><button>{$_('login.button')}</button></span>
</div>
