<script lang="ts">
  import Route from './Route.svelte';
</script>

<nav>
  <Route name="Home" url="/" />
  <Route name="About" url="/about" />
</nav>

<style lang="scss">
  nav {
    position: sticky;
    padding: 10px 5px;
    text-align: center;
  }
</style>
