<script lang="ts">
  import { page } from '$app/stores';

  export let url: string;
  export let name: string;
  let currentUrl: URL;

  page.subscribe((value) => (currentUrl = value.url));
</script>

<a class:selected={url === currentUrl.pathname} href={url}>{name}</a>

<style lang="scss">
  a {
    color: #151515;
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    margin: 0 10px;
    border-bottom: 2px solid;
    border-bottom-color: #151515;

    &:hover {
      border-bottom-color: red !important;
    }

    &.selected {
      border-bottom-color: #0fbce3;
    }
  }
</style>
