<script lang="ts">
  export let size = '200px';
  export let color = '#3498db';
  export let background = '#f3f3f3';
</script>

<div
  class="loader"
  style="
        width: {size};
        height: {size};
        border-width: calc({size} * 16 / 120);
        border-color: {background};
        border-top-color: {color};
    "
/>

<style lang="scss">
  .loader {
    border: solid;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
