<script lang="ts">
  import { gql, operationStore, query } from '@urql/svelte';
  import Request from '$components/utils/Request.svelte';
  import { goto } from '$app/navigation';
  import type { ErrorHandler } from '$lib/graphql';
  import { saveBacklink } from '$lib/stores';

  const user = operationStore(gql`
    query me {
      me {
        username
        email
      }
    }
  `);

  export const loginHandler: ErrorHandler = {
    filter: (error) => error.extensions.category === 'security',
    handle: () => {
      saveBacklink();
      goto(`/login`).catch((error) => console.error(error));
      return false;
    },
    component: null,
  };

  query(user);
</script>

<Request store={user} call={query} handlers={[loginHandler]}>
  <slot />
</Request>
