<script lang="ts">
  import type { OperationStore } from '@urql/svelte';
  import Loading from './Loading.svelte';
  import type { ErrorHandler } from '$lib/graphql';
  import { defaultHandlers } from '$lib/graphql';

  export let call: (input: OperationStore) => void;
  export let store: OperationStore;
  export let handlers: ErrorHandler[] = defaultHandlers();

  call(store);
</script>

{#if $store.fetching}
  <Loading size="20px" />
{:else if $store.error}
  {#if $store.error.graphQLErrors && $store.error.graphQLErrors.length > 0 && handlers.length > 0}
    {#each $store.error.graphQLErrors as error}
      {#each handlers as handler}
        {#if handler.filter(error)}
          {#if handler.handle(error)}
            <svelte:component this={handler.component} {error} />
          {/if}
        {/if}
      {/each}
    {/each}
  {:else}
    Internal error.
  {/if}
{:else}
  <slot />
{/if}
