<script lang="ts">
  import { OperationStore } from '@urql/svelte';
  import Loading from './Loading.svelte';
  import { defaultHandlers, ErrorHandler } from '$lib/graphql';

  export let promise: Promise<OperationStore>;
  export let handlers: ErrorHandler[] = defaultHandlers();
</script>

{#await promise}
  <Loading size="20px" />
{:then data}
  {#if data.error}
    {#if data.error.graphQLErrors && data.error.graphQLErrors.length > 0 && handlers.length > 0}
      {#each data.error.graphQLErrors as error}
        {#each handlers as handler}
          {#if handler.filter(error)}
            {#if handler.handle(error)}
              <svelte:component this={handler.component} {error} />
            {/if}
          {/if}
        {/each}
      {/each}
    {:else}
      Internal error.
    {/if}
  {:else}
    <slot />
  {/if}
{:catch}
  Internal error.
{/await}
